@font-face { font-family: pixelsixLowerC; src: url('pixelsixLowerC.ttf'); } 
@font-face { font-family: pixelsixUpperC; src: url('pixelsixUpperC.ttf'); } 

* {
    font-family: pixelsixLowerC;
    font-weight: 450;
    font-size: 25px;
}

.bubble_description{
    font-size: 16px;
    width: 60%;
    margin: 20px auto;

}

.bubble_note{
    margin: 10px auto;
    font-size: 14px;
}
.number_label{
    margin-bottom: 20px;
}
.input_number{
    margin-top: 20px;
    padding-left: 10px;
}

.initialAppear{
    /*display: block;
    opacity: 1;
*/
}
.sortAppear{
    display: none;
    opacity: 0;
    margin: auto;
}

body {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-image: url('wao.webp');
    background-color: black;
    background-size: cover;
    color: white;
    overflow-x: hidden;
}

.start {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-family: pixelsixUpperC;
    font-size: 50px;
    margin: 20px 0px;
    color:#EBEF00;
    text-shadow: 5px 1.41px rgba(84,84,232,1),
             2px 0 rgba(84,84,232,1),
             1.41px -1.41px rgba(84,84,232,1),
             0 -2px rgba(84,84,232,1),
             -1.41px -1.41px rgba(84,84,232,1),
             -2px 0 rgba(84,84,232,1),
             -1.41px 1.41px rgba(84,84,232,1),
             0 2px rgba(84,84,232,1);
}

input {
    border-radius: 5px;
    border: none;
    transition: .2s ease-in-out;
}

input[type=text]:focus {
    outline: none;
}

.finalResultNum, ul, p{
    color:#EBEF00;
    font-size: 30px;
    padding: 0px;
}

ul{
    display: flex;
}

.finaltxt {
    display: block;
}

#output p, #output ul {
    font-family: pixelsixUpperC;
    font-size: 30px;
}

.finalResultNum p {
    font-family: pixelsixUpperC;
    font-size: 30px;
}

.passResultNum, .resultNum {
    font-size: 30px;
    color:#04FF00;
    animation: glow 2.5s linear infinite;
    list-style: none;
    padding-left: 15px;
}

.comparisonNum {
    color:#EBEF00;
}

.swap {
    color: #04FF00;
}

.retain {
    color: #00ffd5;
}

#output {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 1200px;
}

.numbersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    display: inline-block;
    margin: 5px 10px;
    background-image: url('bubble.png');
    background-size: cover;
    padding: 20px;
    width: 32px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: white;
    color: #E5408D;
    transition: .2s ease-in-out;
    margin-top: 20px;
    padding: 8px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff, 
                0 0 10px #ffffff, 
                0 0 15px #ffffff, 
                0 0 20px #E5408D, 
                0 0 30px #E5408D, 
                0 0 40px #E5408D, 
                0 0 55px #E5408D, 
                0 0 75px #E5408D;
}

.nav-btns {
    padding-bottom: 30px;
    display: flex;
    gap: 35px;
}

.less5, .greater11, .noInput, .invalid {
    opacity: 0;
    display: none;
    transition: .2s ease-in-out;
    background-image: url('alertframe.png');
    background-size: cover;
    padding: 100px 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.greater11, .invalid {
    padding: 120px 100px;
}

.closebtn {
    position: absolute;
    bottom: 40px;
    right: 43%;
    width: 75px;
    height: 35px;
    color: black;
    background: white;
    border: none;  
    border-radius: 5px; 
    transition: .1s ease;
}

.closebtn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #FFF, 
                0 0 10px #FFF, 
                0 0 15px #FFF, 
                0 0 20px #49ff18, 
                0 0 30px #49FF18, 
                0 0 40px #49FF18, 
                0 0 55px #49FF18, 
                0 0 75px #49ff18;
}

#comparison, #comparison2 {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color:#fbff00;
}

#comparison {
    animation-name: floatUpDown;
    animation-duration: 2s;
}

#comparison2 {
    animation-name: floatUpDown;
    animation-delay: .3s;
    animation-duration: 2s;
}

/* bubble float animation */
@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

@keyframes glow {
  
  0% {
    color: #04FF00;
    text-shadow: none;
  }
  
  20% {
    color: #04FF00;
    text-shadow: none;
  }
  
  40% {
    color: #04FF00;
    text-shadow: 0 0 10px #04FF00, 0 0 35px #00ff80, 0 0 70px #00ff80;
  }
  
  60% {
    color: #04FF00;
    text-shadow: none;
  }
  
  80% {
    color: #04FF00;
    text-shadow: none;
  }
  
  100% {
    color: #04FF00;
    text-shadow: none;
  }
}


/* custom scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1E1E1C;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #ff0077;
}
